<page-header height="64px">
  <mp-icon-button
    left
    size="m"
    iconName="chevron_left"
    color="grayDark"
    variant="void"
    [routerLink]="['/main']"
    [routerDirection]="'back'"
  ></mp-icon-button>
  <mp-text center>{{!position ? '위치 조회중' : currentAddress}}</mp-text>
</page-header>
<div *ngIf="!position" #loading>
  <mp-blank
    title="위치 정보를 가져오는 중입니다..."
    minHeight="400px"
  >
  </mp-blank>
  <ds-spinner *ngIf="!position" [centerOf]="loading"></ds-spinner>
</div>
<div #map class="map-container"></div>
<div class="current-position" *ngIf="!!position">
  <mp-button label="현 지도에서 검색"
             variant="outline"
             color="grayDark"
             size="m"
             borderRadius="24px"
             (click)="setCurrentMapCenterPosition()"
  />
</div>
<ng-container *ngIf="diseaseList$ | async as diseaseList">
  <div class="bottom-page" [class.opened]="pageSheetOpened">
    <div class="filter-button">
      <mp-button
        label="검색 조건"
        variant="fill"
        color="blue"
        size="m"
        borderRadius="24px"
        (click)="openFilter()"
      >
        <mp-icon left name="tune"></mp-icon>
      </mp-button>
    </div>
    <div class="my-location">
      <mp-icon-button
        size="m"
        iconName="my_location"
        color="grayDark"
        variant="outline"
        (click)="setCenterPosition(position.coords.latitude, position.coords.longitude)"
      ></mp-icon-button>
    </div>
    <div class="content-wrapper" (touchend)="pageSheetOpened = true">
      <div class="sheet-header">
        <span>주변 병해 목록 ({{diseaseList?.length || 0}})</span>
      </div>
      <div class="disease-list">
        <ng-container *ngIf="diseaseList?.length === 0">
          <mp-blank
            title="주변에 진단된 병해가 없습니다."
            minHeight="300px"
          >
          </mp-blank>
        </ng-container>
        <div class="disease-list-item"
             *ngFor="let disease of (diseaseList || []);let i=index;"
             (click)="setCenterPosition(disease.diagnosisRecord.userLatitude, disease.diagnosisRecord.userLongitude);pageSheetOpened=false;"
        >
          <div class="image-wrapper" (click)="$event.preventDefault();$event.stopPropagation();">
            <nz-image [nzSrc]="disease.diagnosisRecord.imagePath" nzWidth="200px" nzHeight="200px" #nzImage></nz-image>
            <img [src]="disease.diagnosisRecord.imagePath" [alt]="'병해 진단 이미지'" (click)="nzImage.imageRef.nativeElement.click()">
          </div>
          <div class="disease-info">
            <span>병명: {{disease?.diseaseCode | diseaseName}}</span>
            <span>진단일: {{disease.diagnosisRecord.regDate | date: 'yyyy.MM.dd'}}</span>
            <span>일치율: {{(disease?.accuracy * 100).toFixed(2)}}%</span>
          </div>
          <mp-button
            *ngIf="![0, 3, 6, 9].includes(disease.diseaseCode)"
            label="상세 정보"
            color="gray"
            variant="outline"
            size="xs"
            (click)="openDiseaseDetailModal(disease.sickKey, disease.diseaseCode, disease.diagnosisRecord.cropType)"
          >
            <mp-icon right name="chevron_right" size="20px"></mp-icon>
          </mp-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

